
@{
    ViewBag.Title = "Registration";
}

<h2>LOGIN</h2>

<div class="form-group">
    <label for="InputPassword">Password</label>
    <input type="password" class="form-control" id="InputPassword" placeholder="Password">
    <button onclick="location.href='Url.Action("ClickOnRegistration")'" type="submit" class="btn btn-primary">Подтвердить</button>
</div>

